body {
    font-family: sans-serif;
    background-color: black;
    align-items: center;
    text-align: center;
  }

.wrapper {
    font-family: sans-serif;
    background-color: #000407;
    color: greenyellow;
}

.button {
    color:  white (124, 3, 139);
    background-color: red;
    font-style: bold;
    border: none;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    
}
    
   

   
